body{
  margin: 0;
  padding: 0;
  /* background: url(imgs/bg.png) no-repeat; */
  background-color: #000013;
  background-size: 110%;
  font-family: 'Acme',sans-serif;
}
footer{
	font-family: 'Acme',sans-serif;
	/* background-color: #333; */
	background: rgba(0, 0, 0);
	position: absolute;
	text-align: center;
	color: white;
	bottom: 0px;
	width: 100%;
  /* height: 2.5rem;    */
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Acme',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify; 
}

ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
  /* float: left; */
  /* clear: left; */
}

.box li a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: all ease-in-out 250ms;
}

.box li a:hover{
  color: #b9b9b9;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #648FB8;
  color: white;
}

.blog-directory {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  width: 1000px;
  border-radius: 5px;
  padding: 40px;
  margin-bottom: 20px;
  margin: auto;
}

.blog-directory h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blog-directory ul {
  margin: 0;
  padding: 0;
}

.blog-directory li {
  margin-left: 20px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.blog-directory a {
  color: #333333;
  text-decoration: none;
  color: white;
}

.blog-directory a:hover {
  text-decoration: underline;
}



